# Python
__pycache__/
*.py[codz]
*$py.class
*.so
venv/
env/
.venv/

# Secrets / API Keys
.env
.env.local
*_token*
*_secret*
*.key

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp

# FLUTTER / DART
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/android/app/build/
**/android/build/
**/android/local.properties
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.podspec
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.swift
app.*.symbols
app.*.map.json

# ATENTIE: NU ignoram directoarele cu date (data/, output/, scan_results/)
# deoarece vrem ca evaluatorii sa vada rezultatele scanarilor.data/fetched.json
